<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title></title>
  {# <link rel="stylesheet" href="./style.css"> #}
</head>

<body>
  {% include "partials/header.njk" %}
  <main>
    {# {% block main %}{% endblock %} #}

    {% for item in cities %}
        {{ item.city }} {{ item.population }}
    {% endfor %}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>
